{% extends "project/base.html" %}
{% load thumbnail %}

{% block sub_title %}
  My Page
{% endblock sub_title %}

{% block sub_heading %}
  My Page
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
        <h2>My Page</h2>
        <p>
          Thank you Bryan Chow for
          <a href="https://github.com/bryanchow/django-templatepages" title="django-templatepages">
            django-templatepages
          </a>
        </p>
        <p>
          <a href="{% url 'project.story.archive' today|date:"Y" today|date:"b" %}">
            <i class="fa fa-list"></i>
            Story archive (Year, Month)
          </a>
        </p>
    </div>
  </div>
{% endblock content %}
