{% load thumbnail %}
{% for story in story_list %}
  <table width=100% cellspacing=0 cellpadding=0>
    {% if story.picture %}
    <tr>
      <td>
        <img src="{% thumbnail story.picture 300x500 crop %}" />
      </td>
    </tr>
    {% endif %}
    <tr>
      <td>
        <p><span class="head">{{ story.title }}</span><br>
        <span class="small_subtext"><i>By
        {{ story.author }}
        </i></span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="small_subtext">
          <font color="#CC0033">
            <b>{{ story.created|date:"M j Y" }} : </b>
          </font>
          {{ story.description|truncatewords_html:160 }}
        </span>
      </td>
    </tr>
  </table>
{% endfor %}

