{% extends "base/base.html" %}
{% load staticfiles %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'story/css/story.css' %}">
{% endblock stylesheets %}

{% block menu %}
  {% if user.is_active %}
    <li {% if path == '/pump/' %}class="pure-menu-selected"{% endif %}>
      <a href="{% url 'pump.dashboard' %}">
        <i class="fa fa-dashboard"></i>
        Dashboard
      </a>
    </li>
    </li>
    <li {% if path == '/pump/event/' %}class="pure-menu-selected"{% endif %}>
      <a href="{% url 'pump.event.list' %}">
        <i class="fa fa-list"></i>
        Events
      </a>
    </li>
    <li {% if path == '/pump/story/' %}class="pure-menu-selected"{% endif %}>
      <a href="{% url 'pump.story.list' %}">
        <i class="fa fa-list"></i>
        News
      </a>
    </li>
  {% else %}
  <li {% if 'event/create' in path %}class="pure-menu-selected"{% endif %}>
      <a href="{% url 'pump.event.create.anon' %}">
        <i class="fa fa-edit"></i>
        Create Event
      </a>
    </li>
    <li {% if 'story/create' in path %}class="pure-menu-selected"{% endif %}>
      <a href="{% url 'pump.story.create.anon' %}">
        <i class="fa fa-edit"></i>
        Create Story
      </a>
    </li>
  {% endif %}
{% endblock menu %}

{% block title %}
  hatherleigh.net
{% endblock title %}

{% block sub_title %}
  hatherleigh.net
{% endblock sub_title %}

{% block heading %}
  hatherleigh.net
{% endblock heading %}

{% block footer %}
  <div class="legal pure-g-r">
    <div class="pure-u-1">
      <div class="l-box legal-logo">
        <a href="http://yuilibrary.com/">
          <img height="30" width="65" alt="YUI logo" src="{% static "img/project/yui.png" %}">
        </a>
        <p class="legal-license">
          This site is built using
          <a href="http://purecss.io/">
            Yahoo Pure CSS
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock footer %}
