{% extends "project/base.html" %}
{% load staticfiles %}
{% load pump_tags %}

{% block sub_title %}
  Home
{% endblock sub_title %}

{% block sub_heading %}
  Home (using standard include)
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url 'project.story.archive' today|date:"Y" today|date:"b" %}">
              <i class="fa fa-list"></i>
              Story archive (Year, Month)
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g-r">
    <div class="pure-u-1-2">
      <div class="l-box">
        {% story_list %}
      </div>
    </div>
    <div class="pure-u-1-2">
      <div class="l-box">
        {% event_list %}
      </div>
    </div>
  </div>
{% endblock content %}
