{% extends "project/base.html" %}
{% load thumbnail %}

{% block sub_title %}
  {{ story.title }}
{% endblock sub_title %}

{% block sub_heading %}
  {{ story.title }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
        <h2>{{ story.title }}</h2>
        <p>By {{ story.author }}</p>
    </div>
    <div class="pure-u-1">
      {% if story.picture %}
        <img id="image_picture" src="{% thumbnail story.picture 300x500 crop %}" />
      {% endif %}
      {% autoescape off %}
        {{ story.description }}
      {% endautoescape %}
    </div>
  </div>
{% endblock content %}
