{% extends "project/base.html" %}
{% load thumbnail %}

{% block sub_title %}
  Archive - News story
{% endblock sub_title %}

{% block sub_heading %}
  Archive - News story
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      {% include 'base/_paginate_month_archive.html' with current_url='project.story.archive' %}
    </div>
  </div>
  {% for story in object_list %}
    <div class="pure-g-r">
      <div class="pure-u-3-4">
        <h2>{{ story.title }}</h2>
        <strong>{{ story.story_date|date:"l d/m/y H:i" }}</strong>
        {% autoescape off %}
          {{ story.description }}
        {% endautoescape %}
      </div>
      <div class="pure-u-1-4">
        {% if story.picture %}
          <img id="image_picture" src="{% thumbnail story.picture 150x250 crop %}" />
        {% endif %}
      </div>
    </div>
  {% empty %}
    <div class="pure-g-r">
      <div class="pure-u-1">
        Sorry, There were no stories in {{ month|date:"F Y" }}
      </div>
    </div>
  {% endfor %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      {% include 'base/_paginate_month_archive.html' with current_url='project.story.archive' %}
    </div>
  </div>
{% endblock content %}
