{% extends "project/base.html" %}

{% load thumbnail %}

{% block sub_title %}
  News story
{% endblock sub_title %}

{% block sub_heading %}
  {{ story.title }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1-2">
      <div class="l-box">
        {% if story.picture %}
          <img id="image_picture" src="{% thumbnail story.picture 300x500 crop %}" />
        {% endif %}
      </div>
    </div>
    <div class="pure-u-1-2">
      <div class="l-box">
        <br />
        <h2>{{ story.title }}</h2>
        <strong>{{ story.story_date|date:"l d/m/y H:i" }}</strong>
        {% autoescape off %}
          {{ story.description }}
        {% endautoescape %}
      </div>
    </div>
  </div>
{% endblock content %}
