<table class="pure-table pure-table-bordered">
  <tbody>
    <tr>
      <td>Title</td>
      <td>
        {% if user_can_edit %}
          <a href="{% url 'pump.event.update' event.pk %}">
            <i class="fa fa-edit"></i>
            {{ event.title }}
          </a>
        {% else %}
          {{ event.title }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Date</td>
      <td>{{ event.event_date|date:"l d/m/Y" }}</td>
    </tr>
    <tr>
      <td>Time</td>
      <td>{{ event.event_time|time:"H:i" }}</td>
    </tr>
    {% if event.is_published %}
      <tr>
        <td>Published</td>
        <td>
          {{ event.user_moderated }}
          <small>on {{ event.date_moderated|date:"l d/m/y H:i" }}</small>
        </td>
      </tr>
    {% endif %}
    {% if event.removed %}
      <tr>
        <td>
          <strong>Removed</strong>
        </td>
        <td>
          {{ event.user_moderated }}
          <small>on {{ event.date_moderated|date:"l d/m/y H:i" }}</small>
        </td>
      </tr>
    {% endif %}
    <tr>
      <td>Author</td>
      <td>{{ event.author }}</td>
    </tr>
    {% if event.email %}
      <tr>
        <td>email</td>
        <td>{{ event.email|urlize }}</td>
      </tr>
    {% endif %}
    <tr>
      <td>Created</td>
      <td>{{ event.created|date:"l d/m/y H:i" }}</td>
    </tr>
    <tr>
      <td>Area</td>
      <td>
        {% for s in event.site.all %}
          {{ s.name }}
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>
