{% load thumbnail %}
{% load block_tags %}

<table class="pure-table pure-table-bordered">
  <tbody>
    <tr>
      <td>Title</td>
      <td>
        {% if user_can_edit %}
          <a href="{% url 'pump.story.update' story.pk %}">
            <i class="fa fa-edit"></i>
            {{ story.title }}
          </a>
        {% else %}
          {{ story.title }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Status</td>
      <td>
        {% block_status story %}
      </td>
    </tr>
    <tr>
      <td>Author</td>
      <td>{{ story.author }}</td>
    </tr>
    {% if story.email %}
      <tr>
        <td>email</td>
        <td>{{ story.email|urlize }}</td>
      </tr>
    {% endif %}
    <tr>
      <td>Created</td>
      <td>{{ story.story_date|date:"l d/m/y H:i" }}</td>
    </tr>
    <tr>
      <td>Area</td>
      <td>
        {% for s in story.site.all %}
          {{ s.name }}
        {% endfor %}
      </td>
    </tr>
    {% if not hide_picture %}
      <tr>
        <td>Picture</td>
        <td>
          {% if story.picture %}
            <img id="image_picture" src="{% thumbnail story.picture 250x250 crop %}" />
          {% endif %}
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
