{% extends "pump/base.html" %}

{% load thumbnail %}

{% block sub_title %}
  News story
{% endblock sub_title %}

{% block sub_heading %}
  {{ story.title }}</p>
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url 'pump.story.list' %}">
              <i class="fa fa-list"></i>
              Stories
            </a>
          </li>
          <li>
            {% if story.is_published %}
              <a href="{% url 'pump.story.remove' story.pk %}">
                <i class="fa fa-thumbs-o-down"></i>
                Remove
              </a>
            {% else %}
              <a href="{% url 'pump.story.publish' story.pk %}">
                <i class="fa fa-thumbs-o-up"></i>
                Publish
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
      {% include 'pump/_story_summary.html' %}
      <br />
      {% if story.picture %}
        <img id="image_picture" src="{% thumbnail story.picture 300x500 crop %}" />
      {% endif %}
      {% autoescape off %}
        {{ story.description }}
      {% endautoescape %}
    </div>
  </div>
{% endblock content %}
